[project]
	description = Assignments for SOFE3770, Design and Analysis Course.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Georgy Z (GZakharov1525)
[access "refs/for/refs/*"]
	read = group user/Georgy Z (GZakharov1525)
	push = group user/Georgy Z (GZakharov1525)
	label-Code-Review = -2..+2 group user/Georgy Z (GZakharov1525)
	label-Verified = -1..+1 group user/Georgy Z (GZakharov1525)
	rebase = group user/Georgy Z (GZakharov1525)
	removeReviewer = group user/Georgy Z (GZakharov1525)
	submit = group user/Georgy Z (GZakharov1525)
[access "refs/heads/*"]
	read = group user/Georgy Z (GZakharov1525)
	create = group user/Georgy Z (GZakharov1525)
	push = +force group user/Georgy Z (GZakharov1525)
	pushMerge = group user/Georgy Z (GZakharov1525)
[access "refs/tags/*"]
	push = group user/Georgy Z (GZakharov1525)
	push = +force group user/Georgy Z (GZakharov1525)
